body{
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
}

#texto{
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#boton{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:active{transform: scale(0.95);}

#error{
    display: none;
    font-size: 18px;
    padding: 10px;
    margin: auto;
    color: red;
    text-align: center;
}

#grid{
    text-align: center;
    padding: 15px;
}

.letra{
    display: inline-flex;
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    /*border: 1px solid black;*/
    border: none;
    border-radius: 5px;
    margin: 3px;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
}

.row{
    margin-bottom: 10px;
}

.input-area{
    margin: 30px;
}